h1 {
    border-bottom: 2px solid #888;
}

div#swatch {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 7px;
}

#palette{
  margin-top: 20px;
}

div#palette > * {
  float: left;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-right: 2px;
}

#disprgb {
  margin-top: 5px;
}
